<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Bookdelivery</Title>
        <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    </head>
    <body>
        <H1>for User</H1> <br>

        <form action="/registerProvider/" method="GET">
            <button type="button_registerProvide">제공자로 등록</button>
        </form>
        <form action="/searchBooks/" method="POST">
            <button type="button_registerProvide">도서 검색</button>
        </form>
        <form action="/checkOrderForUser/" method="GET">
            <button type="button_registerProvide">대여 내역</button>
        </form>
        <form action="/renewBooks/" method="POST">
            <button type="button_registerProvide">대여 기간 연장</button>
        </form>
        <form action="/returnBooks/" method="POST">
            <button type="button_registerProvide">도서 반납</button>
        </form>
        <form action="/rechargePoint/" method="POST">
            <button type="button_registerProvide">포인트 충전</button>
        </form>

    </body>
</html>