<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Bookdelivery</Title>
        
    </head>
    <body>
        <H1>Welcome to BOOK-DELIVERY!</H1> <br>

        <form action="/login" method="POST">
            ID : 
            <input id="id" name="id" type="text" value="Enter your id"> <br>
            PASSWORD : 
            <input id="pw" name = "pw" type="text" value="Enter your password"> <br>
            <input id = "user" name ="info" type = "radio" value="user" checked="checked"> 이용자
            <input id = "lender" name ="info" type = "radio" value="lender"> 제공자
            <input type = "submit" value="Login">

        </form>
    </body>
</html>