<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Bookdelivery</Title>
        <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    </head>
    <body>
        <H1>recharge Point</H1> <br>
        <form action="/requestRecharge" method="POST">
            Point : 
            <input id="point" name="point" type="value" value="input point"> <br>
            <input type = "submit" name = "info" value="recharge">
            <input type = "submit" name = "info" value="Cancel">
        </form>
    </body>
</html>