<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Bookdelivery</Title>
    </head>
    <body>
        <H1>search Books</H1> <br>
        <form action="/search" method="POST">
            <input id = "title" name ="info" type = "radio" value="title" checked="checked"> 제목
            <input id = "author" name ="info" type = "radio" value="author"> 저자<br>
            장르 
            <select name='genre'>
                <option value='no'>구분없음</option>
                <option value='sports'>스포츠</option>
                <option value='horror'>공포</option>
                <option value='action'>액션</option>
                <option value='science'>과학</option>
                <option value='humanities'>인문학</option>
            </select>
            등급
            <select name='rate'>
                <option value='no'>구분없음</option>
                <option value='all'>전체관람</option>
                <option value='adult'>성인</option>
            </select>
            
            <input type="text" name="input">
            <input type="submit" name="submit" value="검색">
        </form>
    </body>
</html>